body {
  font-family: "Inter Tight", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 100vh;
}
.color-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(100px, 1fr)
  ); /* Creates responsive columns */
  grid-gap: 1px; /* Adjust the space between the squares */
  padding: 10px; /* Optional padding inside the container */
  box-sizing: border-box;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 2px solid #2a9d8f;
  background-color: #2a9d8f;
}
.square {
  background-color: #ddd; /* Default background color */
  width: 100%; /* Fill the available space in the grid cell */
  padding-bottom: 100%; /*Make it a perfect square */
  box-sizing: border-box;
  border: 2px solid #2a9d8f;
  cursor: pointer;
}
button {
  margin-bottom: 15px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #2a9d8f;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: #2a9d8f;
  color: white;
}
